* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	line-height: calc(1em + 1vmin);
	font-size: calc(12px + .3vmin);
}

h1, h2 {
	margin-top: 0;
}

h2 {
	font-size: calc(12px + 1.3vmin);
}

#title {
	position: absolute;
	top: 80vh;
	font-size: 8vmin;
	color: #fff;
}

#the-story section {
	position: relative;
	height: 100vh;
}

#the-story section > div {
	padding: 8vh 15vw;
}

.frame {
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.chapter {
	background-color: #fff;
}

.chapter img:not(.panorama) {
	width: 30vw;
	height: auto;
	max-height: 84vh;
}

@media (min-width: 1000px) {
	.chapter img:not(.panorama) {
		width: 56vh;
		height: 84vh;
	}
}

.to-the-left {
	float: left;
	padding-right: 3vw;
}

.to-the-right {
	float: right;
	padding-left: 3vw;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100vh;
	min-height: 100vh;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: -100;
}

ul {
	margin: .5rem;
	padding: 0;
	list-style-type: none;
}

li {
	display: inline;
}

li::after {
	content: ',';
}

@media (min-width: 1000px) {
	ul {
		padding-left: 1rem;
		list-style-type: circle;
	}

	li {
		display: list-item;
	}

	li::after {
		content: '';
	}
}
